@{
    ViewData["Title"] = "Login";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["AlertType"] alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container">
    <h2 class="text-center mb-4">Login</h2>
    <form method="post" asp-action="login" asp-controller="User">
        <div class="mb-3">

            <label for="NationalCode" class="form-label">National Code</label>
            <input type="text" class="form-control" name="NationalCode" id="NationalCode" placeholder="Enter your National Code" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>